In [22]:
from geopy.geocoders import GoogleV3, Nominatim
import pandas as pd
import numpy as np
APIKEY = f1f982b9305a4144d1af189aae4307a5
geolocator = GoogleV3()
july = pd.read_csv('tomslee_airbnb_new_york_1438_2017-07-12.csv')

In [11]:
july.head()

,room_id,survey_id,host_id,room_type,country,city,borough,neighborhood,reviews,overall_satisfaction,...,bedrooms,bathrooms,price,minstay,name,property_type,last_modified,latitude,longitude,location
0,7739955,1438,38614070,Shared room,NaN,New York,Queens,Jackson Heights,6,5.0,...,1.0,NaN,85.0,NaN,"Room TO SHARE by DAY,week,month",House,2017-07-15 21:30:31.858764,40.749909,-73.876880,0101000020E61000000EA14ACD1E7852C0F0FCA204FD5F...
1,7383173,1438,32628813,Shared room,NaN,New York,Brooklyn,Cypress Hills,14,4.0,...,1.0,NaN,90.0,NaN,Spacious Room: Close to Manhattan,House,2017-07-15 21:30:30.332828,40.678527,-73.889584,0101000020E6100000DFC2BAF1EE7852C0FC3905F9D956...
2,10250852,1438,35553123,Shared room,NaN,New York,Brooklyn,Sheepshead Bay,3,4.5,...,1.0,NaN,239.0,NaN,COZY COUCH,Apartment,2017-07-15 21:30:23.607950,40.583041,-73.957976,0101000020E61000009696917A4F7D52C0139D6516A14A...
3,2188359,1438,5029659,Shared room,NaN,New York,Manhattan,Hell's Kitchen,35,5.0,...,1.0,NaN,165.0,NaN,1 Bdrm Apt 1 Block from Times Sq.,Apartment,2017-07-15 21:30:21.832749,40.758374,-73.991955,0101000020E6100000A306D3307C7F52C0801134661261...
4,19661354,1438,70038324,Shared room,NaN,New York,Manhattan,Upper East Side,0,0.0,...,1.0,NaN,159.0,NaN,NYC Upper East / Midtown East Luxury 1BR,Apartment,2017-07-15 21:30:19.986579,40.761960,-73.959733,0101000020E610000016F9F5436C7D52C01A6EC0E78761...

In [29]:
latlon_string = str(july.latitude[0]) + ', ' + str(july.longitude[0])
location = geolocator.reverse(latlon_string, exactly_one=True)
print(location)

37-18-37-20 90th St, Jackson Heights, NY 11372, USA

In [20]:
latlon_string

'40.749909, -73.87688'

In [32]:
import string as st
st.strip(location, ',')
print(location)

AttributeError: module 'string' has no attribute 'strip'

In [27]:
location.latitude

40.74988035

In [28]:
location.longitude

-73.8770372978044

In [ ]:
'http://api.walkscore.com/score?format=json&address=' , 1119%8th%20Avenue%20Seattle%20WA%2098101'&lat=' , july.latitutde, 
'&lon=', july.longitude, '&transit=1&bike=1&wsapikey=', APIKEY